# Table of contents

## 01 Importing libraries

## 02 Importing data

## 03 Task
### Step 2: Finding the aggregated mean of the order_number column grouped by department_id
### Step 3: Comparing result for subset with result for full dataset
### Step 4: Creating a loyalty flag
### Step 5: Comparing prices of products purchased by new, regular and loyal customers
### Step 6: Creating a spending flag
### Step 7: Creating an order frequency flag to categorise frequent vs. non-frequent users
### Step 9: Exporting dataframe

# 01 Importing libraries

In [1]:
# Importing pandas, NumPy and os
import pandas as pd
import numpy as np
import os

# 02 Importing data

In [2]:
# Defining path variable
path = r'/Users/DanielaDietmayr/Library/CloudStorage/OneDrive-Personal/2023-01-18 Instacart basket analysis'

In [3]:
# Importing data on orders and products as exported at the end of Exercise 4.7
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', '02 Prepared data', 'orders_products_analysed.pkl'))

In [4]:
# Checking head
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_sequence_per_user,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Average busy days,Average orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Average busy days,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest two days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,Mid-range product,Regularly busy,Least busy two days,Average orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy two days,Average orders

In [5]:
# Checking dimensions
ords_prods_merge.shape

(32404859, 18)

In [6]:
# Renaming column order_sequence_per_user to order_number
ords_prods_merge.rename(columns = {'order_sequence_per_user' : 'order_number'}, inplace = True)

In [7]:
# Checking head again
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Average busy days,Average orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Average busy days,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest two days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,Mid-range product,Regularly busy,Least busy two days,Average orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy two days,Average orders

In [15]:
# Importing department data
deps = pd.read_csv(os.path.join(path, '02 Data', '02 Prepared data', 'departments_wrangled.csv'))

In [16]:
# Printing department list
deps

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

# 03 Task

## Step 2: Finding the aggregated mean of the order_number column grouped by department_id

In [9]:
# Creating a subset
sub = ords_prods_merge[:1000000]

In [10]:
# Checking subset
sub.shape

(1000000, 18)

In [13]:
# Average number of orders per department for subset
sub.groupby('department_id')['order_number'].mean().sort_values(ascending=False)

department_id
21    25.535479
18    19.674252
10    18.681852
16    17.803851
4     17.530458
2     17.320781
7     17.031590
14    16.960241
19    16.899756
6     16.658449
13    16.548642
20    16.255442
15    16.121948
3     16.084944
17    15.593633
1     15.577493
9     15.447580
11    15.447411
8     15.076662
5     14.763075
12    14.327957
Name: order_number, dtype: float64

In [14]:
# Average number of orders per department for full dataset
ords_prods_merge.groupby('department_id')['order_number'].mean().sort_values(ascending=False)

department_id
21    22.902379
10    20.197148
18    19.310397
4     17.811403
16    17.665606
2     17.277920
7     17.225802
19    17.177343
3     17.170395
14    16.773669
13    16.583536
20    16.473447
6     16.439806
11    16.170638
15    16.165037
9     15.895474
12    15.887671
17    15.694469
1     15.457838
8     15.340650
5     15.215751
Name: order_number, dtype: float64

## Step 3: Comparing result for subset with result for full dataset
In both the subset and the full dataset, department_id 21 has the highest avearage number of orders. Unfortunately, this is not really telling anything as 21 stands for "missing". So the it's acutally products for which the department information is missing which have the highest average number of orders. 

Furthermore, the range of average numbers of orders is much smaller for the full dataset. It is 11,207522 for the subset, and 6,876628 for the full dataset. 

Leaving aside the "missing" category, the top 5 categories for the subset are: 18/babies, 10/bulk, 16/dairy eggs, 4/produce, and 2/other.
The top 5 categories for the full dataset are: 10/bulk, 18/babies, 4/produce, 16/dairy eggs, and 2/other. 
So while the order is different, the top 5 categories for the subset and the full dataset are identical. 

The bottom 5 categories for the subset are: 9/dry goods pasta, 11/personal care, 8/pets, 5/alcohol, and 12/meat seafod.
The bottom 5 categories for the full dataset are: 5/alcohol, 8/pets, 1/frozen, 17/household, and 12/meat seafod. 
So to get a good understanding of what the bottom 5 categories are, it is essential to look at the full dataset as the subset would not have given an accurate picture.

## Step 4: Creating a loyalty flag
If the maximum orders the user has made is over 40, then the customer will be labeled a “Loyal customer.”
If the maximum orders the user has made is over 10 but less than or equal to 40, then the customer will be labeled a “Regular customer.”
If the maximum orders the user has made is less than or equal to 10, then the customer will be labeled a “New customer.”

In [19]:
# Creating new column with maximum number of orders per customer
ords_prods_merge['maximum_orders'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [20]:
# Checking dimensions of dataframe with new column
ords_prods_merge.shape

(32404859, 19)

In [21]:
# Checking head of dataframe with new column
ords_prods_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day,maximum_orders
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Average busy days,Average orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Average busy days,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest two days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,Mid-range product,Regularly busy,Least busy two days,Average orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy two days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,Mid-range product,Regularly busy,Busiest two days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,both,Mid-range product,Regularly busy,Average busy days,Average orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,both,Mid-range product,Regularly busy,Least busy two days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,both,Mid-range product,Regularly busy,Busiest two days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,both,Mid-range product,Regularly busy,Busiest two days,Average orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,0.0,1,0,both,Mid-range product,Regularly busy,Average busy days,Average orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1,0,both,Mid-range product,Regularly busy,Least busy two days,Average orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,3,1,both,Mid-range product,Least busy,Least busy two days,Average orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,4,1,both,Mid-range product,Regularly busy,Average busy days,Average orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,8,0,both,Mid-range product,Regularly busy,Least busy two days,Most orders,13
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,6.0,18,1,both,Mid-range product,Regularly busy,Average busy days,Average orders,13
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,10.0,12,1,both,Mid-range product,Regularly busy,Average busy days,Average orders,13
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,7.0,10,0,both,Mid-range product,Regularly busy,Average busy days,Average orders,28
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,6.0,9,1,both,Mid-range product,Regularly busy,Busiest two days,Average orders,28
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,14.0,9,1,both,Mid-range product,Regularly busy,Busiest two days,Average orders,28

In [22]:
# Checking selected columns only
ords_prods_merge[['user_id', 'order_number', 'maximum_orders']].head(20)

    user_id  order_number  maximum_orders
0       138            28              32
1       138            30              32
2       709             2               5
3       764             1               3
4       764             3               3
5       777            16              26
6       825             3               9
7       910            12              12
8      1052            10              20
9      1052            15              20
10     1379             1              10
11     1480            36              43
12     1480            38              43
13     1480            39              43
14     1494             6              13
15     1494             7              13
16     1494             9              13
17     1540             4              28
18     1540             5              28
19     1540             6              28

In [23]:
# Adding loyalty flag in new column with conditions I-III
ords_prods_merge.loc[ords_prods_merge['maximum_orders'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['maximum_orders'] > 10) & (ords_prods_merge['maximum_orders'] <= 40), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['maximum_orders'] <= 10, 'loyalty_flag'] = 'New customer'

In [24]:
# Checking flag assingment and counting labels
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

Approx. 49% of the customers are "regular customers". Loyal customers make up approx. 32% of the customer base.

## Step 5: Comparing prices of products purchased by new, regular and loyal customers

In [25]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['min', 'mean', 'median', 'max']})

                 prices
                    min       mean median      max
loyalty_flag
Loyal customer      1.0  10.386336    7.4  99999.0
New customer        1.0  13.294670    7.4  99999.0
Regular customer    1.0  12.495717    7.4  99999.0

Minimum, maximum and median are identical for the three groups of clients. However, the average price is highest vor new customers and lowest for loyal customers. This could point towards loyal customers knowing better which products to purchase cheaply at Instacart and from which products to stay away because they're expensive. It could also point towards new customers simply wanting to get specific products delivered with the price of those products not mattering to them so much. 
At this point, this is only guessing. A deeper look into the products purchased would be necessary to make qualified statements about reasons for the identified pattern.

## Step 6: Creating a spending flag
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [30]:
# Creating new column with average price of products purchased per user
ords_prods_merge['average_price_for_user'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [31]:
# Checking head of dataframe with new column
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day,maximum_orders,loyalty_flag,average_price_for_user
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,Mid-range product,Regularly busy,Average busy days,Average orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,Mid-range product,Regularly busy,Average busy days,Average orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Mid-range product,Busiest day,Busiest two days,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,Mid-range product,Regularly busy,Least busy two days,Average orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Mid-range product,Least busy,Least busy two days,Average orders,3,New customer,4.972414

In [33]:
# Checking head for selected columns only
ords_prods_merge[['user_id', 'prices', 'average_price_for_user']].head(20)

    user_id  prices  average_price_for_user
0       138     5.8                6.935811
1       138     5.8                6.935811
2       709     5.8                7.930208
3       764     5.8                4.972414
4       764     5.8                4.972414
5       777     5.8                6.935398
6       825     5.8                5.957576
7       910     5.8                6.680000
8      1052     5.8                7.162500
9      1052     5.8                7.162500
10     1379     5.8                5.813636
11     1480     5.8                5.081633
12     1480     5.8                5.081633
13     1480     5.8                5.081633
14     1494     5.8                6.803797
15     1494     5.8                6.803797
16     1494     5.8                6.803797
17     1540     5.8                6.607122
18     1540     5.8                6.607122
19     1540     5.8                6.607122

In [34]:
# Creating a spending flag with conditions I and II
ords_prods_merge.loc[ords_prods_merge['average_price_for_user'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['average_price_for_user'] >= 10, 'spending_flag'] = 'High spender'

In [35]:
# Checking assingment of flags and counting labels
ords_prods_merge['spending_flag'].value_counts(dropna=False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [43]:
# Counting users
ords_prods_merge.groupby('spending_flag')['user_id'].nunique()

spending_flag
High spender      5357
Low spender     200852
Name: user_id, dtype: int64

Only 2,6% of the customers are high spenders.

## Step 7: Creating an order frequency flag to categorise frequent vs. non-frequent users
Point of comparison is the median in the “days_since_prior_order” column.
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [44]:
# Creating new column with median "days since prior order" per user
ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [45]:
# Checking dataframe with new column
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,...,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day,maximum_orders,loyalty_flag,average_price_for_user,spending_flag,median_days_since_prior_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Mid-range product,Regularly busy,Average busy days,Average orders,32,Regular customer,6.935811,Low spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Mid-range product,Regularly busy,Average busy days,Average orders,32,Regular customer,6.935811,Low spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Mid-range product,Busiest day,Busiest two days,Average orders,5,New customer,7.930208,Low spender,6.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,Mid-range product,Regularly busy,Least busy two days,Average orders,3,New customer,4.972414,Low spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Mid-range product,Least busy,Least busy two days,Average orders,3,New customer,4.972414,Low spender,9.0

In [46]:
# Checking specific columns only
ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_since_prior_order']].head(20)

    user_id  days_since_prior_order  median_days_since_prior_order
0       138                     3.0                            8.0
1       138                    20.0                            8.0
2       709                     6.0                            6.0
3       764                     0.0                            9.0
4       764                     9.0                            9.0
5       777                    26.0                           11.0
6       825                    30.0                           19.0
7       910                    30.0                            3.5
8      1052                    19.0                            9.5
9      1052                    15.0                            9.5
10     1379                     0.0                           20.0
11     1480                     7.0                            7.0
12     1480                     7.0                            7.0
13     1480                    12.0                            7.0
14     1494                     2.0                            6.0
15     1494                     6.0                            6.0
16     1494                    10.0                            6.0
17     1540                     7.0                            7.0
18     1540                     6.0                            7.0
19     1540                    14.0                            7.0

In [47]:
# Creating order_frequency_flag
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [48]:
# Checking assignment of flags and counting values
ords_prods_merge['order_frequency_flag'].value_counts(dropna=False)

Frequent customer        22796659
Regular customer          6921472
Non-frequent customer     2686728
Name: order_frequency_flag, dtype: int64

In [49]:
# Counting users
ords_prods_merge.groupby('order_frequency_flag')['user_id'].nunique()

order_frequency_flag
Frequent customer        103446
Non-frequent customer     43279
Regular customer          59484
Name: user_id, dtype: int64

Approx. 50,2% of the customers are frequent customers, approx. 20,9% are non-frequent customers, and approx. 28,8% are regular customers.

## Step 9: Exporting dataframe

In [50]:
# Exporting pickle dataframe with additional columns
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', '02 Prepared data', 'orders_products_analysed_V2.pkl'))